{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>住宅の一次エネルギー消費量</h1>
    <p class="lead">このページでは、平成28年省エネルギー基準に準拠したエネルギー消費性能評価の、エネルギー消費性能計算プログラム（住宅版）APIを用いて、住宅の一次エネルギー消費量を計算します。</p>
    <p><a href="">平成28年省エネルギー基準について &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>住宅の一次エネルギー消費量</h2>
        <p>
            本サービスは、住宅・住戸の省エネルギー性能の判定プログラムAPI機能を使用しています。
            ただし、本サービスの内容は国立研究開発法人建築研究所又は国土技術政策総合研究所によって保証されたものではありません。
        </p>
        <p><a class="btn btn-default" href="">住宅の一次エネルギー消費量計算アプリ &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>外皮平均熱貫流率（UA値）および日射熱取得率（ηA値）</h2>
        <p>本サービスは、平成28年省エネルギー基準に基づいて、住宅の外皮性能（UA値およびηA値計算）を計算します。</p>
        <p><a class="btn btn-default" href="">UA値およびηA値計算アプリ &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>人工知能による木造戸建住宅の自動設計</h2>
        <p>本サービスは、木造戸建住宅の設計（プラン、構造性能、省エネ性能）を、人工知能が自動的に行います。</p>
        <p><a class="btn btn-default" href="">木造戸建住宅自動設計アプリ &raquo;</a></p>
    </div>
</div>

{% endblock %}
