{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>ArchiInnext</h1>
    <p class="lead">このページでは、平成28年省エネルギー基準に準拠したエネルギー消費性能評価の、エネルギー消費性能計算プログラム（住宅版）APIを用いて、住宅の一次エネルギー消費量を計算します。</p>
    <p><a href="https://www.djangoproject.com/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            本サービスは、住宅・住戸の省エネルギー性能の判定プログラムAPI機能を使用しています。
            ただし、本サービスの内容は国立研究開発法人建築研究所又は国土技術政策総合研究所によって保証されたものではありません。
        </p>
        <p><a class="btn btn-default" href="http://www.djangobook.com/en/2.0/index.html">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>The Python Package Index is a repository of software for the Python programming language.</p>
        <p><a class="btn btn-default" href="https://pypi.org/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Microsoft Azure</h2>
        <p>You can easily publish to Microsoft Azure using Visual Studio. Find out how you can host your application using a free trial today.</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}
